
body {
  font-family: 'Signika', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

/* HEADERS */
h1, h2, h3 {
  font-weight: 300;
}

h1 {
  font-size: 4.8rem;
  color: #224D5E;
  letter-spacing: -0.1rem;
  line-height: 1rem;
  margin-bottom: 3.5rem;
}

h2 {
  font-size: 2.8rem;
  letter-spacing: -1px;

}


/* HYPERLINKS */

a {
  text-decoration:none;
}


/* NAV BAR */
nav{
  background-color: #40596b;
  text-align: center;
  padding: 0.8rem;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  font-size: 1.3rem;
  text-decoration: none;
  display: inline-block;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

ul a {
  color: #f3d05e;
}

ul a:hover {
  color: #eef9fd;
}


/* MAIN */

#home{
  background-color: #55c0ec;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

p.tagline{
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 300;
  margin-bottom: -1rem;
}

.main-left {
    float: center;
    width: 45%;
    margin: 16px;
    text-align: center;
}

.main-right {
    float: center;
    width: 45%;
    margin: 16px;
    text-align: center;
}

.btn-cta-light {
    margin: 50px;
    background-color: #FFFFFF;
    color: #565656;
}

.btn-cta-light:hover {
    background-color: #FFFFFF;
}


/* WHAT IS TICKY BOT */

#about {
    background-color: #fafafa;
    color: #3F3F3F;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0;

}

.container {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    font-size: 1.25rem;

}

.section-title {
    width: 100%;
    margin: 0;
    text-align: center;
}

.about-text {
    font-size: 20px;
}

.about-left {
    float: left;
    width: 45%;
    margin: 16px;
}

.about-right {
    float: left;
    width: 45%;
    margin: 16px;
}

/* HOW IT WORKS */

#howitworks {
  background-color: #90ddaa;
  color: #3F3F3F;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 0;

}

.cards {
    display:flex;
    margin: 16px;
    width: 30%;
    min-width: 341px;
    background-color: #40596b;
    text-align: center;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 4px;
    align-self: stretch;
}

.cards a {
    text-decoration: underline;
}

.card-image {
    width: 224px;
    margin: 4rem 0;
}

.card-description {
    background-color: #fafafa;
    height:auto;
    display: block;
    padding: 1rem;
    text-align: center;
    margin: 0;
    font-size: 1.25rem;
}

code {
    background-color: rgba(0,0,0,.05);
    border-radius: 2px;
    color: crimson;
    margin: 0;
    padding: .2rem;
}



/* START USING TICKYBOT TODAY */


#startusing {
    background-color: #FAFAFA;
    color: #3F3F3F;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0;

}

.cta {
    max-width: 600px;
    text-align: center;
}

.cta p {
    line-height: 1.5;
    text-align: center;
}

.btn-cta {
    display: inline-block;
    padding: 1rem;
    border-radius: 2px;
    align-items: center;
    cursor: pointer;
    font-size: 28px;
    width: 240px;

}

.btn-cta-dark {
    margin: 50px;
    background-color: #40596b;
    color: #EDEDED;
}

.btn-cta-dark:hover {
    background-color: #4b4b4b;
}


/* FOOTER */

footer {
  background-color: #40596b;
  padding: 0.8rem;

}

footer p {
  font-size: 0.8rem;
  font-weight: 300;
  color: #B9C2C9;
  line-height: 0.8;
  text-align: center;
}

footer a {
  font-size: 0.8rem;
  font-weight: 300;
  color: #B9C2C9;
  text-decoration: underline;
}
